.jstree ul, .jstree li {
    list-style: none;
    vertical-align: top;
    line-height: 20px;
}

.jstree-icon, .jstree-anchor {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

}

.jstree-input {
    line-height: 22px;
    height: 22px;
    border: 1px solid #63a2ef;
    vertical-align: middle;
    padding-left:5px;
    outline: none;
}

.jstree-anchor{
    border: 2px dotted transparent;
    cursor: pointer;
}

.jstree-item-active * {
    color: #63a2ef;
}

.jstree-item >.jstree-witem> .jstree-icon {
    width: 18px;
    background: url(fold.png) no-repeat -60px center transparent;
    margin-left: 2px;
    display: none;

}

.jstree-open >.jstree-witem > .jstree-icon {
    background: url(fold.png) no-repeat -30px center transparent;
    cursor: pointer;
    display: inline-block;
}

.jstree-close>.jstree-witem > .jstree-icon {
    background: url(fold.png) no-repeat 0 center transparent;
    cursor: pointer;
    display: inline-block;
}

.jstree-item-on{
    color: #63a2ef;
}
.jstree-cancel{
    background: url(fold.png) no-repeat -93px center transparent;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left:6px;
    cursor: pointer;
}
.jstree-wname{
    display: inline-block;
}